
.aboutMe-container{
    display: grid;
    height: 100vh;
    margin: 0 auto;
    justify-items: center;
    background: whitesmoke;
    width: 100vw;
  
  

}

.aboutMe-container header{
    background: #0080BF;
    display: grid;
    grid-template-rows: 50px 400px 50px 1fr;
    
    width: 100%

    

}


@media screen and (min-width: 320px) {
    .aboutMe-container header{
        grid-template-rows: 50px 370px 50px;
    
    
        }
    
    }

@media screen and (min-width: 340px) {
.aboutMe-container header{
    grid-template-rows: 50px 440px 50px;


    }

}

@media screen and (min-width: 375px) {
    .aboutMe-container header{
        grid-template-rows: 50px 440px 50px;
    
    
        }
    
    }

    @media screen and (min-width: 414px) {
        .aboutMe-container header{
            grid-template-rows: 50px 480px 50px;
        
        
            }
        
        }
        

    @media screen and (min-width: 540px) {
        .aboutMe-container header{
            grid-template-rows: 50px 430px 50px;
        
        
            }
        
        }

        @media screen and (min-width: 600px) {
            .aboutMe-container header{
                grid-template-rows: 50px 440px 50px;
            
            
                }
            
            }
        
    

.aboutMe-container header h1{
    font: 1.3em sans-serif;
    padding: 20px 0;
    color: white;
    justify-self: center;


}


.aboutMe-container header picture{
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
    justify-content: center;
    align-self: center;

}

.aboutMe-container header picture img{
    width: 100%;
    height: auto;
    justify-self: center;
    /* transition-timing-function: ease-in-out; */

}


.aboutMe-container header aside{
    display: grid;
    background: none;
    grid-row: 2/3;
    grid-column: 1/2;
    padding-left: 10px;
    min-height: 330px;
    align-self: center;
    padding-top: 0px;
    justify-items: start;
    padding-left: 20px;
    /* background: red; */
    

}

.aboutMe-container header aside img{
    width: 45px;
    height: auto;
    border: solid 2px white;
    border-radius: 90px;
    align-self: center;
    /* padding-left: 20px; */
    /* background: #0080BF; */
    margin-left: 15px;
    cursor: pointer;

    
    
}

.socialIcon-container{
    display: grid;
    grid-template-columns: 70px 1fr;
    align-content: center;
    width: 100%;
    z-index: 5;
    align-self: start;
    align-items: center;
    

}

.socialIcon-container p{
    align-self: center; 
    color: white;  
    /* text-shadow:  -1px 1px 1px black;  */
    font: 1.4em sans-serif;
    background: #0080BF;
    padding: 10px;
    width: auto;
    border-radius: 10px 0 0 10px;
   
}

.aboutMe-container header footer{
    display: grid;
    grid-template-columns: 1fr 80px;
    width: auto;
    /* background: #0080BF; */
    height: 50px;
    z-index: 13;
    border-bottom: 2px white solid;
    
}

.aboutMe-container header footer h2{
    font: 1.3em sans-serif;
    align-self: center;
    color: white;
    padding: 0;
    margin: 0;
    justify-self: center;
}

.menuIcon-container{
    display: grid;
    row-gap: 5px;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    /* background: red; */
    /* transform: rotate(20deg); */
}

.menuIcon{
    width: 43px;
    height: 5px;
    background: white;
    border-radius: 10px;
}



.aboutMe-container header nav{
    background: whitesmoke;
    display: grid;
    margin: 0;
    padding: 0;
}

.aboutMe-container header nav ul{
    display: flex;
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    padding: 0px;
    margin: 0px;

}


.aboutMe-container header nav li{
    display: grid;
    grid-template-columns: 200px;
    height: 50px;
    background: white;
    margin-left: 20px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.226);
    justify-items: center;
    align-items: center;
    

}




/* main body  */

.aboutMe-container main section{
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.775);
    
    
}

.aboutMe-container>main>section>button{
    font: 1.5em sans-serif;
    background: rgba(0, 0, 0, 0.44);
    color: white;
    margin-top: 10px;
    height:  50px;
    margin-bottom: 10px;
    width: 50px;
    justify-self: center;
    border-radius: 50px;
    border: solid white 2px;
}


.aboutMe-container main section nav{
    padding: 0;
    margin: 0;
    display: flex;
    height: 30px;
    align-self: flex-end;
    z-index: 5;
}

.aboutMe-container main section nav button{
    padding: 0 15px;
    width: auto;
    height: 30px;
    align-self: flex-end;
}






@media screen and (min-width: 1100px) {

    .aboutMe-container{
        display: grid;
        grid-template-columns: 20vw 1fr;

    }


    
    .aboutMe-container header nav {
        background: #0080BF;

    }

   

    .aboutMe-container header nav ul{
        display: grid;
        height: 300px;
        padding-top: 20px;
        padding-left: 20px;

    }

    .aboutMe-container header nav li{
        border-radius: 25px 0 0 25px;
        grid-template-columns: 250px;
        margin: 0;
        background: #0080BF;
        box-shadow: none;
        color: white;
        font: 1.3em sans-serif;
        justify-items: flex-start;
        padding-left: 30px;
        cursor: pointer;
        

    }


    .aboutMe-container main section{
        position: relative;
        width: auto;
        height: auto;
        background: none;
        padding-top: 10px;
        padding-left: 10px;



    }


    
    .socialIcon-container p{
        font: 1.6em sans-serif;
    }


}

/* projects backstory */
.projectBackStory-container{
    background: whitesmoke;
    z-index: 20;
    height: 95vh;
    overflow: scroll;

}

.projectBackStory-container>main {
    max-width: 1100px;
}

.projectBackStory-container p {
    padding-bottom: 20px;
    font: 1.3em sans-serif;

}

.projectBackStory-container h2{
    color: #0073bf;
    font: 1.3em sans-serif;

}


.projectBackStory-container ul{
    background: white;
    padding: 10px;

}


@media screen and (min-width: 1200px){
.projectBackStory-container>main ul {
    margin: 10px;
    padding: 60px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.268);
}
/* projects backstory */
.projectBackStory-container{
   margin-top: 40px;

}


}


.statusUpdates-container{
    background: whitesmoke;
    z-index: 20;
    height: 95vh;
    overflow: scroll;

}

.statusUpdates-container>main {
    max-width: 1100px;
    padding: 10px;

}

.statusUpdates-container p {
    font: 1.3em sans-serif;

}

.statusUpdates-container h2{
    color: #0080BF;
    font: 1.3em sans-serif;

}


.statusUpdates-container>main>ul>li{
    display: grid;
    row-gap: 20px;
    background: white;
    padding: 10px;
    border: solid 1px rgb(202, 202, 202);

}


@media screen and (min-width: 1200px){
.statusUpdates-container>main ul li {
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.207);
    }

.statusUpdates-container{
    margin-top: 40px;
}

}


.coffee-container{
    background: whitesmoke;
    display: grid;
    row-gap: 30px;
    grid-template-rows: 200px;
    height: 90vh;
    align-content: center;
    z-index: 20;
    max-width: 1000px;
    overflow: scroll;
    padding: 20px;
    padding-bottom: 50px;


}



.coffee-container>header{
    background: whitesmoke;
    align-self: center;

}

.coffee-container>header h1{
    display: none;
}


.coffee-container>main{
    background: whitesmoke;
}



