/* Basic Algorithms  */
.basicAlgos-container{
    width: 100vw;
    justify-self: center;
    z-index: 20;
    
 
  }

  
  .basicAlgos-container ul{
    display: grid;
    row-gap: 30px;
    padding: 10px;
    width: auto;
  }

  .basicAlgos-container ul li:last-child{
    background: none;
    border: none;
    box-shadow: none;
    height: 100px;
  }

  
  @media screen and (min-width: 1100px){
  .basicAlgos-container ul li:last-child{
    display: none;
    background: none;
    border: none;
    box-shadow: none;
    height: 100px;
  }

 
 

  }

  .basicAlgos-container li{
    display: grid;
    height: 200px;
    align-items: center;
    background: white;
    padding: 20px;
    border-bottom: 3px dashed gold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.282);
  
  }
  
  .basicAlgos-container li button{
    font: 1em sans-serif;
    font-weight: bold;
    background: rgb(235, 201, 8);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
  
  }

  .basicAlgos-container li h2{
        font: 1em sans-serif;
  }


  .noBorders{
    border: none;
  }
  
  
  
  /* desktop styles */
  @media screen and (min-width: 800px) {
    .basicAlgos-container{
    max-width: none;}

  .basicAlgos-container ul{
      column-gap: 20px;
      grid-template-columns:  1fr 1fr ;
   
  } 

  .basicAlgos-container li{
    height: 350px;
  }

  
  
  }


  @media screen and (min-width: 1100px) {
    .basicAlgos-container{
    width: 90%;
    height: 93vh;
    margin-top: 40px;
    }

  .basicAlgos-container ul{
      grid-template-columns:  1fr 1fr 1fr;
  } 

  
 
  
  }


  
  @media screen and (min-width: 1500px) {
  

    .basicAlgos-container ul{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 
  
    
    
    }