
.dashboard-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    background: whitesmoke;
    width: 97vw;
    height: 100vh;
    position: absolute;
    top: 0;

}

li{
    cursor: pointer;

}

.dashboard-container header nav{
    padding: 50px;

}


.dashboard-container main{
    padding: 50px;

}


.dashboard-container ul {
    display: grid;
    row-gap: 20px;
}

.dashboard-container ul li{
    background: white;
    padding: 20px;
    border-radius: 20px;

}

.dashboard-container ul li img {
    width: 200px;

}

.dashboard-container button{
    font: 1em sans-serif;
    background: gray;
    color: white;
    
}

.dashboard-container form {
    display: grid;
    width: 400px;
    row-gap: 10px;
}

.dashboard-container form select{
    height: 40px;
}

.dashboard-container form input{
    font: 1em sans-serif;}


.columns2-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
}




.columns3-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}


.allProjects-container{
    grid-column: 2/3;
    grid-row: 1/3;
}



.update-container form{
    display: grid;
    width: 400px;
    padding: 20px;
    row-gap: 10px;

}


.dashboard-container nav {
    background: gold;
    height: 90%;
    padding: 0;
}




