.App {
  display: grid;
  width: 100vw;
  margin: 0 auto;
  height: auto;
  background: whitesmoke;
  padding-top: 30px;

}
h1, p, h2{
 margin: 0;
}

input{
  height: 25px;
  padding: 5px;
  
}

ul{
  list-style: none;
  padding: 0;
}



li ::-webkit-scrollbar {
  display: none;
}


@media screen and (min-width: 1100px) {

.App{
  row-gap: 70px;

}
/* width */
.cardItems ::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.cardItems ::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
.cardItems ::-webkit-scrollbar-thumb {
  border-radius: 30px;
  width: 40px;
}

/* Handle on hover */
.cardItems ::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 206, 206);
}


}


.columns3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mainNav-container{
  height: 40px;
  width: 100vw;
  position: relative;
  bottom: 0px;
  margin: 0;
  z-index: 3;
  background: none;
  height: 40px;
}

.mainNav-container nav {
  height: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  font: 1.4em sans-serif;
  margin: 0 auto;
  white-space: nowrap;
  align-items: center;

}

.mainNav-container a{
  padding-top: 5px;
  cursor: pointer;
  
}



.tabIcon{
  width: 90%;
  height: 40px;
  background: #0080BF;
  grid-row: 1/2;
  grid-column: 1/2;
  font: .9em sans-serif;
  text-decoration: none;
  /* color: white; */
  border-radius: 10px 10px 0 0  ;
  box-shadow: 0 0 5px;
  cursor: pointer;
  text-align: center;
  justify-self: center;
}



#projectsTab{
  background: none;
  grid-row: 1/2;
  grid-column: 1/2;
}



#aboutMeTab{
  background: none;
  grid-row: 1/2;
  grid-column: 2/3;
}



/* .homePage-container{
  grid-row: 1/2;
  grid-column: 1/2;
} */


/* .aboutMePage-container{
  grid-row: 1/2;
  grid-column: 1/2;
} */





/* Projects page----------------------------------------- */

.projectsPage-container{
  height: auto;
  display: grid;
}


.projectsPage-container>header{
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1.2fr 1fr ;
  align-content: center;
  justify-items: center;
  padding: 10px;
  margin-bottom: 30px;
}




.projectsPage-container header picture img {
  width: 100px;
  justify-self: left;
  border: 4px solid white;
  border-radius: 70px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.226);

}

.slogan-container{
  font-size: 1.4em;
  align-self: center;

}

.projectsPage-container main{
  display: grid;
  align-content: center;

}


.projectsPage-container main picture {
  height: auto;
  grid-row: 1/2;
  grid-column: 1/2;
}



.projectsPage-container main img{
  width: 100%;
  height: 450px;
}

/* card items project container-------------------------------------------------- */

.cardItems {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  margin: 0;
  padding: 0;
  height: auto;
  align-self: center;
  /* box-shadow: -5px 10px 13px rgba(0, 0, 0, 0.11); */
}

.cardItems ul {
  display: flex;
  float: left;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  padding: 0px;
  margin: 0px;
}




.cardItems ul li {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 60px 1fr 60px;
  background: white;
  margin-left: 30px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: -5px 10px 13px rgba(0, 0, 0, 0.11);
  
}   

@media screen and (min-width: 1200px){
  .cardItems ul li {
    margin-left: 60px;
  }
}




.cardItems ul li:last-child {
  background: none;
  box-shadow: none;
  width: 7px;
}



.cardItems ul li h2 {
  font: 1.3em sans-serif;
  text-align: center;
  align-self: center;
  padding: 10px;
  z-index: 1;

}




.cardItems>ul>li>img{
  grid-row: 2/3;
  grid-column: 1/2;
  /* background-image: cover; */
  height: 300px;
  
}





.cardItems footer {
  display: grid;
  grid-template-columns: 2fr 1fr ;
  align-self: center;
  box-shadow: 0px -7px 5px rgba(0, 0, 0, 0.137);
  padding: 10px;
}

.cardItems footer a {
  cursor: pointer;
  text-decoration: underline;
  width: 60px;
  padding: 5px;
}

.cardItems footer button {
  background: blue;
  color: white;
  height: 35px;
  width: 90px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  
}


.project1-container footer button {
  background: #52B1A2;
}

.project1-container footer a {
  color: #52B1A2;
  padding-left: 5px;
  align-self: center;
  
}

.project1-container>aside{
  align-self: center;
}


.project2-container footer button {
  background: #0080BF;
}

.project2-container footer a {
  color: #0080BF;
  padding-left: 5px;
  align-self: center;
  
}



.project3-container footer button {
  background:#B936D2;
}

.project3-container footer a {
  color:#B936D2;
  padding-left: 5px;
  align-self: center;
  
}

.project4-container footer button {
  background: #002F61;
}

.project4-container footer a {
  color: #002F61;
  padding-left: 5px;
  align-self: center;
  
}

.project5-container footer button {
  background: #21523F;
}

.project5-container footer a {
  color: #21523F;
  padding-left: 5px;
  align-self: center;
  
}


.project6-container footer button {
  background: #469F67;
}

.project6-container footer a {
  color: #469F67;
  padding-left: 5px;
  align-self: center;
  
}





.tools-container{
  grid-row: 2/3;
  grid-column: 1/2;
  background: rgba(0, 0, 0, 0.604);
  display: grid;
  z-index: 2;
  height: auto;
  font: 1.1em sans-serif;
  color: white;
}

#icon-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
  align-items: center;
  align-self: start;
  z-index: 0;

}



#icon-container img {
  height: 50px;
  width: 50px;
}


nav{
  max-width: 400px;

}

.mainNav-container nav{
  display: grid;
  align-self: flex-end;
  text-align: center;
  column-gap: 3px;
  margin: 0 5px;

}

/* .mainNav-container :first-child :first-of-type {
  border-bottom: solid 5px #007fbf;

} */


/* like count */

.likeProjects-container{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2);
  justify-items: center;
  align-items: center;

}

#heartIcon {
  height: 15px;
  width: 15px;
}
.likeProjects-container aside{
  display: grid;
  grid-template-columns: 1fr 2fr ;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 20px;
  width: 50px;
  border-radius: 5px;
  color: white;
  padding: 5px;

}

.likeProjects-container a{
  border: none;
  background: none;
  font: 1.1em sans-serif;
  text-decoration: underline;
  cursor: pointer;
  
}


/* tablet displays */
@media screen and (min-width: 700px) {
  .App {
    width: auto;
  }

  .slogan-container{
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: right;
    font-size: 1.8em;


  }

  .projectsPage-container img {
    width: 110px;
    justify-self: left;
  }


  .projectsPage-container main img{
    width: 100%;
    height: auto;
  }

  
  .mainNav-container{
    width: 400px;
    right: 0px;
    margin: 0 15px;

  }



}


/* footer styles */

.myStoryFooter-container{
  background: #0080BF;
  width: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;


}

.myStoryFooter-container>footer{
  display: grid;
  padding-bottom: 0;
  row-gap: 10px;
  max-width: 90em;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-end;
 


}

@media screen and (min-width: 1100px){
.myStoryFooter-container>footer{
  display: flex;
  column-gap: 10px;
  
}

}

.menuIcon-container{
  display: grid;
  row-gap: 5px;
  justify-content: center;
  cursor: pointer;
  /* background: red; */
  /* transform: rotate(20deg); */
}

.menuIcon{
  width: 43px;
  height: 5px;
  background: white;
  border-radius: 10px;
}



.footerNav {
  display: grid;
  margin: 0;
  padding: 0;
  height: auto;
  /* box-shadow: -5px 10px 13px rgba(0, 0, 0, 0.11); */
  align-content: flex-end;
 

}



.footerNav>ul {
  display: flex;
  float: left;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  padding: 0px;
  margin: 0px;
  align-self: flex-end;
  padding-top: 15px; 
}



.footerNav ::-webkit-scrollbar {
  display: none;
}




.footerNav>ul>li {
  font: 1.2em sans-serif;
  display: grid;
  grid-template-columns: 200px;
  margin-left: 30px;
  border-radius: 15px;
  margin-top: 10px;
  align-self: flex-end;


  
}   


.myStoryFooter-container>footer button{
  padding: 10px;
  border-radius: 20px 20px 0 0;
  background: whitesmoke;
  border: solid 2px whitesmoke;
  color: #0080BF;
  font: 1em sans-serif;
  max-width: 200px;
  cursor: pointer;
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.234);
  outline: none;
}



.linkCard-container{
  display: grid;
  background: whitesmoke;
  justify-self: center;
  height: 90vh;
}



.linkCard-container header{
  display: grid;
  max-width: 400px;

}

  .portfolio-img{
    grid-row: 1/2;
    grid-column: 1/2;
  align-self: flex-start;
  justify-self: center;

  } 

  .portfolio-img img{
    max-width: 400px;
    height: 100%;
  }



.socialIcon-container{
  display: grid;
  row-gap: 10px;
  grid-row: 1/2;
  grid-column: 1/2;
  height: 400px;
  width: 70px;
  align-self: flex-start;
  padding-left: 40px;
  padding-top: 40px;
}

.socialIcon-container img{
  width: 50px;
  height: 50px;
}


.linkCard-container main{
  background: #0080BF;
  max-width: 400px;
  height: 600px;
}


@media screen and (min-width: 1100px){

  .linkCard-container{
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
  }

  .linkCard-container header{
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
  }

  .linkCard-container main{
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;

  }

  

}
